.details {
    border: 1.5px solid grey;
    color: #212121;
    width: 100%;
    box-shadow: 0px 0px 10px #212121;
}

.cart {
    background-color: #212121;
    color: white;
    margin-top: 1.5vh;
    font-size: 85%;
    font-weight: 900;
    width: 100%;
    height: 5.25vh;
    padding-top: 1.25vh;
    box-shadow: 0px 5px 10px #212121;
}

.card-body {
    width: 100%;
}

.btn {
    border-radius: 2rem;
}

.img-thumbnail {
    border: none;
    max-height: 17.5vh;
    max-width: 20vh;
    width: auto;
    height: auto;
    border-radius: 2rem;
    align-content: center;
    display: block;
    margin: 2.5vh auto;
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 2rem;
    padding-bottom: 1.5vh;
    margin-bottom:4vh;
}

.row {
    margin-top: 3vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 3vw;
    margin-left: 3vw;
}

h5 {
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}