<head>
    <link rel="stylesheet" href="../css/modalJwt.css">
</head>
<div id="divJwt" class="divJwt">
    <div id="loginPopup" class="modalJwt" hidden>
        <label for="lblLogin">Login</label>
        </br>
        <input class="camposLogin" type="text" id="textboxLogin" name="textboxLogin" required>
        </br>
        <label for="password">Senha</label>
        </br>
        <input class="camposLogin" type="password" id="textboxSenha" name="textboxSenha" required>
        </br>
        <br>
        <button id="btnLoginJwt" onclick="tokenCheck().validacaoLogin();">Acessar</button>
    </div>
</div>
