@{
    ViewData["Title"] = "Home Page";
}

<form id="form_menu">
    <div class="text-center" style="padding-top: 20px">
        <h1 class="display-5">Bem-Vindo ao Gerenciador de Curriculos!</h1>
        <p>Aqui você pode criar, visualizar, editar, e excluir seu curriculo.</p>

        <div class="row justify-content-center">
            <input type="button" value="Cadastro" style="color: white; background-color: green; padding: 0 10px 0 10px; margin-right: 50px" class="rounded-pill btn btn-primary btn-lg" action="Cadastro" formmethod="post"/>
            <br />
            <input type="button" value="Visualizar Curriculos" style="color: white; background-color: blue" class="rounded-pill btn btn-primary btn-lg" action="Salvar" formmethod="post"/>
        </div>
    </div>

</form>

