@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Este é um trabalho de N2 do Segundo Bimestre de 2023, desenvolvido por João Antonio de Brito Moraes e Lorenzo Messias Lacerda, para a matéria de Linguagem de Programação 1, lecionada pelo Prof. Eduardo Rosalém.</p>
