@{
    ViewData["Title"] = "Home";
}

<form id="form_menu">
    <div class="text-center" style="padding-top: 20px">
        <h1 class="display-5">Bem-Vindo ao Gerenciador de Curriculos!</h1>
        <p>Aqui você pode criar, visualizar, editar, e excluir seu curriculo.</p>

        <img src="~/img/mesa-de-escritorio.jpg" style="border-radius: 150px"/>
        <br />

        <div class="row justify-content-center" style="margin: 30px">

            <a href="/curriculo/cadastro/" title="Cadastrar" style="color: white; background-color: green; margin-right: 50px" class="rounded-pill btn btn-primary btn-lg">Cadastrar</a>

            <a href="/curriculo/visualizar/" title="Visualizar" style="color: white; background-color: blue; margin-right: 50px" class="rounded-pill btn btn-primary btn-lg">Visualizar</a>

        </div>
    </div>

</form>

