<div id="modalCadastroItem" class="modal" hidden>
    <div class="modal-content">
        <input id="idItemModal" type="hidden">
        <input id="idUsuarioItem" type="hidden">
        <span class="close" onclick="marketplace().fecharModalCadastrarItem()">&times;</span>
        <h2>Cadastro Item</h2>
        <br>
        <div id="divImgItemCadastro" hidden>
            <img id="imgItemCadastro" src="#" alt="Imagem do anunciante" />
        </div>
        <form id="uploadForm">
            <input type="file" id="imagemInput" onchange="marketplace().inserirImagem(this);"
                accept="image/png, image/jpeg" required>
        </form>
        <br>
        <label for="textboxTituloItem">Título:</label>
        <input type="text" id="textboxTituloItem" placeholder="Título do item" class="campos-cadastro" required>
        <div class="row">
            <div class="column">
                <label for="textboxValor">Valor:</label>
                <input type="text" id="textboxValor" placeholder="Ex.: R$200,00" class="campos-cadastro" inputmode="decimal" pattern="R\$\d+(,\d{2})?" required>
                <br>
            </div>
            <div id="columnQtd" class="column">
                <label for="textboxQtdDisp">Quantidade:</label>
                <input type="number" id="textboxQtd" placeholder="Ex.: 100" class="campos-cadastro" required>
            </div>
            <div class="column">
                <label for="textboxMetodoPagamento">Método de Pagamento:</label>
                <input id="textboxMetodoPagamento" placeholder="Ex.: Pix, Troca, Cartão" class="campos-cadastro"
                    required>
            </div>
        </div>
        <label for="textboxContato">Contato:</label>
        <input id="textboxContato" placeholder="Ex.: usuario@email.com, 11912345678" class="campos-cadastro" required>

        <label for="textareaDescricaoItem">Descrição:</label>
        <textarea id="textareaDescricaoItem" placeholder="Descrição do item" class="campos-cadastro" required></textarea>
        <button id="btnCadastrarItem" class="btnCadastrarItem" onclick="marketplace().cadastrarItem();">Cadastrar
            Item</button>
    </div>
</div>