/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
    height: 100%;
    /* Garante que o body ocupe toda a altura da tela */
    width: 100%;
    /* Garante que o body ocupe toda a largura da tela */
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

header {
    height: 50px;
}

main {
    width: 100%;
    margin: 0;
}

footer {
    height: 50px;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #00FF0A;
}

.border-bottom {
    border-bottom: 1px solid #00FF0A;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

/* Remover margens e espaçamento padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Garantir que html e body ocupem 100% do espaço disponível */
html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    /* Flexbox ou grid para layout */
}

/* Configuração do body para ocupar toda a página */
.bodyLayout {
    background-color: black;
    /* Exemplo de cor de fundo */
    color: #FFFFFF;
    /* Exemplo de cor do texto */
    display: flex;
    flex-direction: column;
    /* Ajusta direção caso tenha header/footer */
    align-items: center;
    /* Centraliza conteúdo horizontalmente */
    justify-content: center;
    /* Centraliza conteúdo verticalmente */
    min-height: 100vh;
    /* Garante que o conteúdo ocupe ao menos 100% da altura */
    min-width: 100%;
    height: 100vh;
    width: 100%;
}